.scrolling-wrapper {
  max-height: 120px;
  border: 1px solid white;
  display: flex;
  overflow-x: auto;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper.card {
  min-width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: white;
  margin-right: 2px;
}
